.main{
    position: absolute;
    height: 100%;
    width: 100vw;
    background: #222;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    overflow: auto;
    cursor: default;

    .header{
        font-size: 1.5rem;
        margin: 5rem;
        transition: .1s ease-in;
        cursor: pointer;

        &:hover{
            color: rgb(207, 123, 123);
        }

    }

    .img{
        width: 50vw;

        img{
            max-width: 100%;
        }
    }

    .hoverMessage{
        color: white;
        opacity: 0;
    }

    .name{
        margin-top: 5rem;
        font-size: 2rem;
    }

    .description{
        margin-bottom: 10rem;
        padding: 2rem;
        width: 70%;
        color: rgb(95, 95, 95);
        transition: .1s ease-in;

        &:hover{
            color: white;
        }
    }
}

@media (max-width: 600px){
    .main{
        align-items:start;
        .img{
            top: 0;
            width: 100%;           
            img{
                max-width: 100%;
            }
        }

        .header{
            font-size: 1rem;
            margin-top: 3rem;
            margin-left: 2rem;
            margin-bottom: 0;
        }
        
        .name{
            margin-top: 0.5rem;
            margin-left: 2rem;
            margin-bottom: 0;
        }
        .description{
            margin-top: 3rem;
            padding-top: 0;
           padding-right: 0;
           width: 80%;
           color: white;
           opacity: 0.9;
        }
    }
}