.container{
    width: 100vw;
    height: 100vh;
    background-color: #272828;
    text-align: center;
    justify-content: center;
    display: flex;

    img{
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }

    .download{
        position: absolute;
        text-decoration: none;
        color: white;
        bottom: 10%;
        right: 10%;
    }
}