.navigator{
    color: white;
    display: grid;
    grid-template-columns: 3rem 3rem;
    grid-template-rows: 3rem 3rem;

    font-size: 1rem;
    position: absolute;
    left: 3rem;
    top: 3rem;
    text-align: center;
    a{
        text-decoration: none;
        div{
            cursor: pointer;
            transition: .1s ease-in;
            color: white;
    
            &:hover{
                color: rgb(207, 123, 123);
    
            }
        }
    }
}

@media(max-width: 600px){
    .navigator{
        grid-template-columns: 20vw 20vw 20vw 20vw;
        left: 0;
        position: relative;
        margin-left: 2rem;
        text-align: center;
    }
}